{% extends 'jumbo.html.twig' %}

{% block content %}

<div class="container shadow">

	{% if results %}

	<h1>Search results for: {{ searchTerm }}</h1>

	{% else %}

		<h1>Search</h1>

	{% endif %}

	<form>
		<div class="form-row">
		{{ form_start(form) }}
		<div class="form-group col-md-6">
		{{ form_widget(form.search, {'attr': {'class': 'form-control', 'placeholder': 'Search Here'}}) }}	
		</div>
		{{ form_row(form.Submit, {'attr': {'class': 'btn btn-dark'}}) }}
		{{ form_end(form) }}	
		</div>	
	</form>

	<div class="search-results">
	{% if results %}
	<ul class="results .list-group-flush">

		{% for result in results %}
			{% if result.type == 'film' %}

			<li class="result list-group-item"><a href="{{ path(result.route, {'filmId': result.nativeId})}}">{{result.name|title}}</a></li>

			{% elseif result.type == 'tvShow' %}

			<li class="result list-group-item"><a href="{{ path(result.route, {'tvShowId': result.nativeId})}}">{{result.name|title}}</a></li>

			{% elseif result.type == 'tvShowRestaurant' %}

			<li class="result list-group-item"><a href="{{ path(result.route, {'tvShowId': result.nativeId, 'restaurantId': result.restaurantId})}}">{{result.name|title}}</a></li>

			{% elseif result.type == 'filmRestaurant' %}

			<li class="result list-group-item"><a href="{{ path(result.route, {'filmId': result.nativeId, 'restaurantId': result.restaurantId})}}">{{result.name|title}}</a></li>

			{% endif %}	

		{% endfor %}

	</ul>

	{% elseif searchTerm %}

	<p>No results for {{ searchTerm }}. Please try something else. </p>

	{% else %}

	<p>What do you fancy?</p>

	{% endif %}	

	</div>

</div>



{% endblock %}