{% extends 'jumbo.html.twig' %}

 {% block display %}<h1 class="display-3">{{ tvShow.title }}</h1>{% endblock %} 

{% block content %}

    <div class="container shadow">
      	<div class="row">
            <div class="col-md-4">
                <img src="{{ asset('assets/images/'~tvShow.imageUrl) }}" class="img-fluid shadow" alt="Responsive image">
          	</div>
            <div class="tvShow-content col-md-6">
                <p>{{ tvShow.description }}</p>
            </div>        
        </div>    
    </div> 

    <div class="container shadow">
        <div class="row">
            <div class="col-md-4">
            <select class="custom-select">
                <option selected>Choose Season</option>
                {% for season in seasons %}
                    <option class="season-selector" value="{{ season.id }}">{{ season.seasonTitle }}</option>
                    {# ajax request to fetch episodes and populate episode list #}
                {% endfor %}
            </select>
            </div>
            <div class="col-md-4">
            <select class="custom-select select-episodes">
                <option selected>Choose Episode</option>
                    {# To be populated with Ajax #}
            </select>
            </div>
            <button type="button" class="btn btn-outline-dark get-restaurants" id="">See Restaurants</button>
        </div>
        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row restaurants">
                
                </div>
            </div>
        </div>
    </div>

                        {# <h2>There haven't been any seasons added yet, we're working on it though, check again soon!</h2> #}

{% endblock %}

{% block javascripts %}
    <script>
        $('.season-selector').click(function() {
            /* Populates episode dropdown selector appropriate to selected season.
            Dropdown is cleared and repopulated every time a season is selected in the season
            dropdown menu  */
            var seasonId = $(this).attr('value');
            if ($(".episode-selector")) {
                $(".episode-selector").remove();
            }
            $.ajax({
                url: 'http://asservedonscreen.test/getepisodejson',
                method: "GET",
                data: {'seasonId': seasonId},
            })
            .done(function(data) {
                for (var i=0; i<data['result'].length; i++) {
                    var title = data['result'][i]['title'];
                    var episodeId = data['result'][i]['episodeId'];
                    $(".select-episodes").append("<option class=\"episode-selector\" value=\""+ episodeId + "\">" + title + "</option>"); 
                }
            })
        });
        
        $(document).on('click', '.episode-selector', function() {
            /* Changes id of See Restaurants button to appropriate Episode Id
            to send to server for restaurant list population */
          	    var episodeId = $(this).attr('value');
            $('.get-restaurants').attr('id', episodeId);
        });

        $('.get-restaurants').click(function() {
            var episodeId = $(this).attr('id');
            $.ajax({
                url: 'http://asservedonscreen.test/getrestaurantjson',
                method: "GET",
                data: {'episodeId': episodeId}
                })
            .done(function(data) {
                for (var i = 0; i < data['result'].length; i++) {
                    var restaurantName = data['result'][i]['name'];
                    var restaurantId = data['result'][i]['id'];
                    var restaurantImageUrl = data['result'][i]['imageUrl'];
                    var episodeId = data['result'][i]['episodeId'];
                    $('.restaurants').append('<div class="col-md-4">' +
                                            '<div class="card mb-4 shadow-sm">' +
                                            '<div class="card-img" ' +
                                            'style="background-image: ' +
                                            'url(\'../assets/images/' + restaurantImageUrl + '\');">' +
                                            '</div>' +
                                            '<div class="card-body">'+
                                            '<a class="card-link" href="#">' + 
                                            '<h2 class="card-text">' + restaurantName + '</h2>' +
                                            '</a></div></div></div>');
                }
            })
        })

    </script>
{% endblock %}